HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
Dockerfile
docker-compose.yaml
src/main/resources/application.properties
upload-dirr
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
#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
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
